#DONT CHANGE THIS 
API_URL=https://api.shyft.to/sol/v1/transaction/history
#THIS TOO 
NETWORK=mainnet-beta
#KEEPING THIS BLANK THE SCRIPT WILL ASK YOU FOR ACCOUNT EVERYTIME ITS RUN
ACCOUNT=GwbiCYn9WFDVDFVDFVDVFDVDFVDVDFVDYRAUX55bikNJiFJgM
#YOUR SHYFT.IO API KEY
API_KEY=
#FOR ADDITIONAL DEBUGGING
DEBUG=false
#To perform csv anaysis or not default true cnage to false 
CSV_ANALYSIS=
#to select from which tim it calculates ranges from false it calculates from last txn true calcumates from latest time
USE_CURRENT_TIME=